<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>
    <div class="container mt-4 d-flex justify-content-center align-items-center min-vh-100">
      <div class="row justify-content-center" style="min-width: 600px;">
        <div class="col-lg-18 col-md-16 col-sm-14" style="min-width: 600px;">
          <div class="form-container2 text-dark" style="background-color: rgba(0, 0, 0, 0.3);">
            <form action="/register" method="POST" enctype="multipart/form-data">
              <h1 class="mb-2 h1 text-center custom-font" style="color: white;">
                <span class="red-text">Med</span>Care
              </h1>
              <h1 class="mb-4 h3 text-center" style="font-family: serif;">Register</h1>

              <div class="row mb-1">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" name="firstName" id="firstName" class="form-control" />
                    <label class="form-label" for="firstName">First Name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" name="lastName" id="lastName" class="form-control" />
                    <label class="form-label" for="lastName">Last Name</label>
                  </div>
                </div>
              </div>

              <div class="form-outline mb-1">
                <input type="text" name="mobileNo" id="mobileNo" class="form-control" />
                <label class="form-label" for="mobileNo">Mobile No</label>
              </div>
 
              <div class="form-outline mb-1">
                <input type="email" name="email" id="email" class="form-control" />
                <label class="form-label" for="email">Email address</label>
              </div>

              <div class="form-outline mb-1">
                <input type="file" name="profilePicture" id="profilePicture" class="form-control" />
                <label class="form-label" for="profilePicture">Profile Picture</label>
              </div>

              <div class="form-outline mb-2">
                <input type="password" name="password" id="password" class="form-control" />
                <label class="form-label" for="password">Password</label>
              </div>

              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-danger btn-block mb-4">
                    Sign up
                </button>
              </div>

              <div class="text-center">
                <p>Already have an account? <a href="/login">Login</a></p>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
